@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


:root{
    --cor0:#FF4000;
    --cor1:#F9F9F9;

    --font-padrão: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrão);
    list-style: none;
    text-decoration: none;
}

@media screen and (max-width: 760px) {
    header, .section-footer01, .section-footer02 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    
    }
    
}

@media screen and (min-width: 760px) {
    .div-footer02 {
      text-align: right;
    
    }
    
}

header{
    padding-top: 15px;
    padding-bottom: 15px;
}


  nav, .menu {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    align-items: center;
  }
  
  .acontato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
  
    color: #FF4000;
    font-weight: bolder;
  }
  

main{
    margin: auto;
    width: 90vw;
    border-radius: 10px;
    
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

.main-section-01{
    background-image: url('/halugo-vilanova/imagens/portico-joinville.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    
    
    min-width: 380px;
    min-height: 400px;
    padding: 10px;

    border-radius: 10px 10px 0px 0px;

    
    
    text-align: center;
    font-size: 2.5em;
}

.main-section-01 h1{
    margin: auto;
    margin-bottom: 20px;
    max-width: 330px;
    border-radius: 20px;
    background-color: white;
    color: var(--cor0);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.591);

    padding: 5px;

}

.main-section-01 p{
    margin: auto;
    max-width: 750px;


    border-radius: 20px;
    background-color: white;
    color: var(--cor0);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.591);

    padding: 5px;

}



iframe{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;

}

footer{
    margin-top: 30px;
    background-color: var(--cor1);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

footer div{
    padding-top: 10px;
}

footer section{
    padding-top: 10px;
}

.section-footer01, .section-footer02{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #FF4000;
}

.p-endereco{
    padding: 10px;

}

.fa-brands{
    font-size: 2em;
    padding: 10px 10px;
    margin-top: 10px;
    
    border-radius: 25%;
    color: var(--cor0);
}

.fa-brands:hover{
    color: #F9F9F9;
    background-color: var(--cor0);
}

a{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.a-footer-tel{
    color: rgba(0, 0, 0, 0.601);
    text-decoration: none;
    font-weight: bold;

}
.a-footer-tel:hover{
    color: var(--cor0);
    text-decoration: none;
    font-weight: bold;
}
